extends ../components/layout

block content
  div
    h1 External API
    p
      | You use will use a button to call an external API using an access token, and the API will validate it using the API's audience value.
      br
      strong This route should be protected.
    div(
      class="btn-group mt-5",
      role="group",
      aria-label="External API Requests Examples"
    )
      button(type="button", class="btn btn-primary") Get Public Message
      button(type="button", class="btn btn-primary") Get Protected Message

    if message
      div(class="mt-5")
        h6(class="muted") Result
        div(class="container-fluid")
          div(class="row")
            code(class="col-12 text-light bg-dark p-4")
              | #{JSON.stringify(message, null, 2)}
