extends ../components/layout

include ../components/hero
include ../components/home_content

block content
  +hero("https://cdn.auth0.com/blog/auth0-express-pug-sample/assets/logo.png")
  hr
  +home-content
