extends ../components/layout

include ../components/_hero
include ../components/_home_content

block content
  +hero("https://cdn.auth0.com/blog/auth0-express-pug-sample/assets/logo.png")
  hr
  +home-content
