extends index

include ../components/_footer
include ../components/_nav-bar

block layout-content
  div(id="app" class="d-flex flex-column h-100")
    +nav-bar(activeRoute)
    div(class="container flex-grow-1")
      block content
    +footer
