extends index

include ../components/footer
include ../components/nav-bar

block layout-content
  div(id="app" class="d-flex flex-column h-100")
    +nav-bar(activeRoute)
    div(class="container flex-grow-1")
      block content
    +footer
